---
import { shimmer } from "./utils";
---

<div
  class={`${shimmer} relative overflow-hidden rounded-xl bg-gray-100 p-2 shadow-sm`}
>
  <div class="flex p-4">
    <div class="h-5 w-5 rounded-md bg-gray-200"></div>
    <div class="ml-2 h-6 w-16 rounded-md bg-gray-200 text-sm font-medium"></div>
  </div>
  <div
    class="flex items-center justify-center truncate rounded-xl bg-white px-4 py-8"
  >
    <div class="h-7 w-20 rounded-md bg-gray-200"></div>
  </div>
</div>
