---
import { shimmer } from "./utils";
---

<div class={`${shimmer} relative w-full overflow-hidden md:col-span-4`}>
  <div class="mb-4 h-8 w-36 rounded-md bg-gray-100"></div>
  <div class="rounded-xl bg-gray-100 p-4">
    <div
      class="mt-0 grid h-[410px] grid-cols-12 items-end gap-2 rounded-md bg-white p-4 sm:grid-cols-13 md:gap-4"
    >
    </div>
    <div class="flex items-center pb-2 pt-6">
      <div class="h-5 w-5 rounded-full bg-gray-200"></div>
      <div class="ml-2 h-4 w-20 rounded-md bg-gray-200"></div>
    </div>
  </div>
</div>
