---

---

<tr
  class="w-full border-b border-gray-100 last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg"
>
  {/* Customer Name and Image */}
  <td class="relative overflow-hidden whitespace-nowrap py-3 pl-6 pr-3">
    <div class="flex items-center gap-3">
      <div class="h-8 w-8 rounded-full bg-gray-100"></div>
      <div class="h-6 w-24 rounded bg-gray-100"></div>
    </div>
  </td>
  {/* Email */}
  <td class="whitespace-nowrap px-3 py-3">
    <div class="h-6 w-32 rounded bg-gray-100"></div>
  </td>
  {/* Amount */}
  <td class="whitespace-nowrap px-3 py-3">
    <div class="h-6 w-16 rounded bg-gray-100"></div>
  </td>
  {/* Date */}
  <td class="whitespace-nowrap px-3 py-3">
    <div class="h-6 w-16 rounded bg-gray-100"></div>
  </td>
  {/* Status */}
  <td class="whitespace-nowrap px-3 py-3">
    <div class="h-6 w-16 rounded bg-gray-100"></div>
  </td>
  {/* Actions */}
  <td class="whitespace-nowrap py-3 pl-6 pr-3">
    <div class="flex justify-end gap-3">
      <div class="h-[38px] w-[38px] rounded bg-gray-100"></div>
      <div class="h-[38px] w-[38px] rounded bg-gray-100"></div>
    </div>
  </td>
</tr>
