---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}
---

<RootLayout title="Customers">
  <DashboardLayout>
    <p>Customers Page</p>
  </DashboardLayout>
</RootLayout>
