---
import CardWrapper from "@/components/dashboard/CardWrapper.astro";
import LatestInvoices from "@/components/dashboard/LatestInvoices.astro";
import RevenueChart from "@/components/dashboard/RevenueChart.astro";
import CardsSkeleton from "@/components/skeletons/CardsSkeleton.astro";
import LatestInvoicesSkeleton from "@/components/skeletons/LatestInvoicesSkeleton.astro";
import RevenueChartSkeleton from "@/components/skeletons/RevenueChartSkeleton.astro";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}
---

<RootLayout>
  <DashboardLayout>
    <main>
      <h1 class="font-lusitana mb-4 text-xl md:text-2xl">Dashboard</h1>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <CardWrapper server:defer>
          <CardsSkeleton slot="fallback" />
        </CardWrapper>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-6 md:grid-cols-4 lg:grid-cols-8">
        <RevenueChart server:defer>
          <RevenueChartSkeleton slot="fallback" />
        </RevenueChart>
        <LatestInvoices server:defer>
          <LatestInvoicesSkeleton slot="fallback" />
        </LatestInvoices>
      </div>
    </main>
  </DashboardLayout>
</RootLayout>
