---
export const prerender = false;

import { Suspense } from "simple-stack-stream/components";

import CardWrapper from "@/components/dashboard/CardWrapper.astro";
import LatestInvoices from "@/components/dashboard/LatestInvoices.astro";
import RevenueChart from "@/components/dashboard/RevenueChart.astro";
import CardsSkeleton from "@/components/skeletons/CardsSkeleton.astro";
import LatestInvoicesSkeleton from "@/components/skeletons/LatestInvoicesSkeleton.astro";
import RevenueChartSkeleton from "@/components/skeletons/RevenueChartSkeleton.astro";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
  <DashboardLayout>
    <main>
      <h1 class="font-lusitana mb-4 text-xl md:text-2xl">Dashboard</h1>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <Suspense>
          <CardWrapper />
          <CardsSkeleton slot="fallback" />
        </Suspense>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-6 md:grid-cols-4 lg:grid-cols-8">
        <Suspense>
          <RevenueChart />
          <RevenueChartSkeleton slot="fallback" />
        </Suspense>
        <Suspense>
          <LatestInvoices />
          <LatestInvoicesSkeleton slot="fallback" />
        </Suspense>
      </div>
    </main>
  </DashboardLayout>
</RootLayout>
