---
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
  <DashboardLayout>
    <p>Invoices Page</p>
  </DashboardLayout>
</RootLayout>
