---
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import "@fontsource/lusitana/400.css";
import "@fontsource/lusitana/700.css";
---

<!doctype html>
<html lang="en">
  <body class="font-['inter'] antialiased">
    <slot />
  </body>
</html>
