---
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/lusitana/400.css";
import "@fontsource/lusitana/700.css";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
  </head>
  <body class="font-['inter'] antialiased">
    <slot />
  </body>
</html>
