---
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/lusitana/400.css";
import "@fontsource/lusitana/700.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title,
  description = "The official Next.js Learn Dashboard built with App Router.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title ? `${title} | Acme Dashboard` : "Acme Dashboard"}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="font-['inter'] antialiased">
    <slot />
  </body>
</html>
